.navbar {
  background-color: #21325e;
  color: white;
}
.navbar a {
  color: white;
}
.navbar a:hover {
  color: white;
}
.navbar a:visited {
  color: white;
}
.navbar a:active {
  color: yellow;
}
#navbarNavAltMarkup {
  justify-content: center;
}
#navbarNavAltMarkup a {
  padding-left: 2rem;
  font-size: 1.2rem;
}
