.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  text-align: center;
  color: #3e497a;
  padding: 1.5rem;
  width: 100%;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  color: #3e497a;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.category_buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
.category_buttons button {
  color: white;
  margin: 5px 20px;
  background-color: #3e497a;
  width: 100px;
}
.category_buttons button:hover {
  color: white;
  background-color: #2b3665;
}
.projectList {
  width: 90vw;
  padding: 1rem 0rem;
  color: #3e497a;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .projectList {
    grid-template-columns: 1fr;
    width: 100%;
  }
  .category_buttons button {
    color: white;
    margin: 5px 9px;
    background-color: #3e497a;
    width: 100px;
  }
}

.card-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.card {
  width: 290px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 2.5rem;
  cursor: pointer;
}

.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
