.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  text-align: center;
  font-size: 50px;
  color: #3e497a;
  padding-top: 1rem;
  width: 100%;
}
.credentials {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: space-evenly;
  color: #3e497a;
}

.projectList {
  width: 90vw;
  padding: 1rem 0rem;
  color: #3e497a;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .projectList {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.card-title {
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}

.card {
  width: 290px;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  margin-bottom: 2.5rem;
  cursor: pointer;
}
.card:hover {
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.5);
}
