.projects {
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.projects h1 {
  text-align: center;
  color: #3e497a;
  font-size: 40px;
  font-weight: bolder;
  padding-top: 1.1rem;
}

.projectList {
  width: 95vw;
  padding: 2rem 0rem;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
}

@media only screen and (max-width: 1300px) {
  .projectList {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 800px) {
  .projectList {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 600px) {
  .projectList {
    grid-template-columns: 1fr;
    width: 100%;
  }
}

.card-title {
  font-size: 20px;
  text-align: center;
}

.card {
  box-shadow: 6px 6px 3px rgba(0, 0, 0, 0.15);
  margin-bottom: 1.7rem;
  padding: 15px 10px;
  cursor: pointer;
}
