.skills {
  width: 100%;
  height: auto;
  font-family: Arial, Helvetica, sans-serif;
  color: #3e497a;
  padding-bottom: 30px;
  display: "flex";
  justify-content: center;
}

.skillHeading {
  padding: 1.5rem;
  margin-bottom: 15px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

.skillList {
  padding: 0px 30px;
  height: 40vh;
  display: flex;
}

.frontEnd {
  padding-top: 20px;
  border-radius: 15px;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.frontEndBox {
  width: 70%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frontEndBox img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 1px solid lightgray;
  margin-right: 5px;
  padding: 3px;
}

.backEnd {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}


.backEndBox {
  width: 70%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.backEndBox img {
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 3px;
}

.languages {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  box-shadow: rgba(17, 17, 26, 0.05) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 0px 8px;  align-items: center;
  border-radius: 15px;
}

.languagesBox {
  width: 70%;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.languagesBox img {
  width: 50px;
  height: 50px;
  border: 1px solid lightgray;
  border-radius: 50%;
  padding: 3px;
}